.home-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90vh;
  padding-top: 10vh;
}

.canvas {
  width: 350px;
  height: 450px;
  /* background-color: #D4D4F7; */
  background-color: white;
  border-radius: 20rem 2rem 7rem 0rem;
}

.shape {
  position: relative;
  top: 5rem;
}

.greeting-paragraph {
  position: relative;
  top: 10rem;
  line-height: 5rem;
  font-size: 2rem;
}

.greeting-paragraph p {
  border-bottom: 5px #FFFF00 solid;
}

.greeting-item {
  color: #FFFF00;
  text-shadow: 1px 1px 3px black;
}

.main-image {
  width: auto;
  height: 120%;
  position: relative;
  bottom: 15%;
  filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}

@media screen and (max-width: 600px) {
  .home-section {
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .shape{
    display: none;
  }

  .greeting-paragraph {
    margin-top: -20rem;
    font-size: 1.5rem;
  }
}
