@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

#cv-section {
  /* background: linear-gradient(20deg, #ffee00, #ff9101); */
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  height: 30rem;
  /* height: 20rem; */
  background-color: white;
  border-radius: 4rem 0rem 3rem 0rem;
  margin-right: 2rem;
  box-shadow: 0px 1px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(8, 8, 8);
  transition: linear 0.3s;
}

.card:hover .info-profile {
  display: block;
}

.img-wrapper {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: rgb(27, 151, 58);
  transition: linear 0.3s;
}

.img-profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  filter: sepia(10);
}

.img-profile:hover {
  filter: sepia(0);
}

.big-label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-profile {
  margin-top: 1rem;
  line-height: 2rem;
  /* display: none; */
}

.big-label span {
  font-size: 1.7rem;
  color: rgb(65, 5, 5);
}

.info {
  padding-top: 2rem;
  text-align: center;
  text-align: start;
}

.info-column {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.info-column .label {
  color: rgb(7, 155, 135);
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.social-account {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.account-wrapper {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 10px;
  transition: ease-in-out .4s;
}

.social-account-ico {
  width: 1.5rem;
  height: auto;
}

.social-account span {
  display: none;
}

.account-wrapper:hover {
  border-radius: 20px;
  padding: 2px 10px;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook:hover {
  background-color: rgb(0, 153, 255);
}

.instagram:hover {
  background-color: rgb(250, 52, 85);
}

.github:hover {
  background-color: rgb(255, 81, 0);
}

.linkedin:hover {
  background-color: rgb(0, 247, 255);
}

.account-wrapper:hover>span {
  display: inline;
}

.experiences-article {
  background-color: white;
  /* box-shadow: 0px 1px 10px black; */
  color: black;
  padding: 2rem;
  height: 30rem;
  border-radius: 4rem 0rem 4rem 0rem;
  position: relative;
}

.experiences-article>ul {
  list-style: none;
  line-height: 1.6rem;
  font-size: 1.3rem;
}

.experiences-article>h1 {
  padding-top: 2rem;
  font-size: 2rem;
  color: rgb(7, 155, 135);
  border-bottom: 2px rgb(7, 155, 135) solid;
}

.links {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.links a {
  font-family: 'Poppins', sans-serif;
  margin-left: 1rem;
  padding: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem 0rem 1rem 0rem;
}

.links a:hover {
  color: black;
  background-color: rgb(7, 155, 135);
}

@media screen and (max-width: 600px) {
  #cv-section {
    height: 180vh;
  }

  .card {
    margin-right: 0rem;
  }

  .experiences-article h1 {
    font-size: 1rem;
  }

  .experiences-article ul li {
    font-size: 0.7rem;
    color: black;
  }
}
