.header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: linear 50ms;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 8px  black;
  border-radius: 0 0 20px 20px;
}

.header-mobile {
  height: 60vh;
  display: flex;
  text-align: center;
}

.header-mobile #logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.header-mobile .nav-list-mobile {
  margin-top: 5rem;
}

.header-mobile .nav-item {
  height: 4rem;
}

.header-mobile .mobile-nav-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.home-icon {
  width: 2.5rem;
  height: auto;
}

.mobile-nav-icon {
  width: 3rem;
  color: black;
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    background-color: white;
  }

  .mobile-nav-icon {
    display: block;
  }
}
